# NextAuth configuration
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=your-nextauth-secret
NEXT_PUBLIC_COOKIE_SECRET=

# Twitter/X API credentials
TWITTER_CLIENT_ID=UAOsTq75Mc6b4NhaIG2GYQQNN
TWITTER_CLIENT_SECRET=8OWm4WJtaLLdIwcDpCr8XH1zNZasvs71KKjhdpwv34ZqEBlkPs

# Database
DATABASE_URL="file:./dev.db"
POSTGRES_DATABASE_URL=

# Web3Auth Configuration
WEB3AUTH_CLIENT_ID=BE_vIeuc0geQJPdvlSolTxblY45gqhj5H82x2OqgYMbKUiBxZCCIQKFeDNyPuw1GdfLfggisIyWsD2b9c0YwstM
WEB3AUTH_NETWORK=testnet 

# For the live football
NEXT_PUBLIC_LIVE_FOOTBALL_KEY=
NEXT_PUBLIC_LIVE_FOOTBALL_HOST=

