/* @import url('https://db.onlinewebfonts.com/c/4c4a87973ef80fc72049e01b9085fadc?family=ABC+Diatype'); */
/* @import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Semi+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap'); */
@import "tailwindcss";

:root {
  --background: #ECF5F5;
  --foreground: #171717;
}

@theme inline {
  --font-inter: "Inter", sans-serif;
  --color-ctaButton: #0072CA;
  --color-darkGreen: #0A6B41;
  --color-gradientDarkGreen: #006644;
  --color-gradientLightGreen: #00cc66;
  --color-ash: #303030;
  --color-lightAsh: #BEBEBE;
  --spacing-thirtyFromFull: 'calc(100%)';
}

body {
  background: var(--background);
  font-family: var(--font-inter);
}
