@import "tailwindcss";

:root {
	--background: #ecf5f5;
	--foreground: #171717;
	/* --font-abc: "Abc Diatype", "sans-serif"; */
}

@theme inline {
	--font-abc: "Abc Diatype", "sans-serif";
	--font-dm-sans: "DM Sans", "sans-serif";
	--color-ctaButton: #0072ca;
	--color-darkGreen: #0a6b41;
	--color-gradientDarkGreen: #006644;
	--color-gradientLightGreen: #00cc66;
	--color-ash: #303030;
	--color-lightAsh: #bebebe;
	--spacing-thirtyFromFull: "calc(100%)";
}

body {
	background: var(--background);
	font-family: var(--font-abc);
}
