@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Semi+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap');
@import "tailwindcss";

:root {
  --background: #ECF5F5;
  --foreground: #171717;
}

@theme inline {
  --font-dmSans: "DM Sans", "sans-serif";
  --font-cormorantGaramond:"Cormorant Garamond", "serif";
  --font-specialGothic: "Special Gothic Expanded One", "sans-serif";
  --font-sofiaSans: "Sofia Sans Semi Condensed", "sans-serif";
  --color-ctaButton: #0072CA;
  --color-darkGreen: #0A6B41;
}

body {
  background: var(--background);
}
